<div class="admin-book-main">
  <h1 class="admin-book-title">予約一覧</h1>

  <div class="admin-book-table">
    <table class="book-table table-hover">
      <tr class="admin-book-index">
        <th>日付</th>
        <th>時間</th>
        <th>名前</th>
        <th>名前（カナ）</th>
        <th>年齢</th>
        <th>人数</th>
        <th>予約のコース</th>
        <th>電話番号</th>
      </tr>
      
      <% @books.each do |book| %>
        <% if book.reserve_date >= Date.today %>
          <tr class="admin-book-content">
            <td><%= book.reserve_date.strftime('%m/%d') %></td>
            <td><%= book.reserve_time.strftime('%-H:%M') %></td>
            <td><%= book.user.name %></td>
            <td><%= book.user.name_kana %></td>
            <td><%= book.user.age %></td>
            <td><%= book.number_reserve %>名</td>
            <td><%= book.reserve_category.name %></td>
            <td><%= book.user.phone_number %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>