<h1>予約画面</h1>

<ol class="nav">
  <li class="current">1.入力</li>
  <li>2.確認</li>
  <li>3.完了</li>
</ol>


<%= form_with model: @reserve, url: confirm_reserves_path, local: true do |f| %>
<%= render 'shared/error_messages', resource: @reserve %>
  <div class="field">
    <%= f.label :reserve_date %>
    <%= f.date_field :reserve_date, {value: Time.now.strftime('%Y-%m-%d')} %>
  </div>
  <div class="field">
    <%= f.label :reserve_time %>
    <%= f.time_select :reserve_time, { start_hour: 17, end_hour: 22, minute_step: 15, time_separater: "",  prompt: '---', ignore_date: true, include_seconds: false } %>
  </div>
  <div class="field">
    <%= f.label :number_reserve %>
    <%= f.number_field :number_reserve, {min: 1, max: 20, step: 1, include_blank: true, value: 2} %>
  </div>
  <div class="field">
    <%= f.label :reserve_category_id %>
    <%= f.collection_select :reserve_category_id, ReserveCategory.all, :id, :name, {} %>
  </div>
  <div class="actions">
    <%= f.submit "確認画面へ" %>
  </div>
<% end %>
