<h1>ブログ一覧表示</h1>

<%= link_to '新規投稿', new_blog_path %>

<table class="table">
    <% @blogs.each do |blog| %>
        <tbody>
          <tr>
            <th scope="row"><%= blog.id %></th>
            <%# いいね機能 %>
            <td id="blog-<%= blog.id %>"> 
              <%= render 'blog_like', blog: blog %>
            </td>
            <%# いいね機能 %>
            <td><%= blog.title %></td>
            <td><%= blog.created_at %></td>
            <td><%= image_tag blog.image.variant(resize: '200x200') if blog.image.attached? %> </td>
            <td><%= link_to 'show', blog_path(blog.id) %></td>
            <td><%= link_to 'edit', edit_blog_path(blog.id) %></td>
            <td><%= link_to 'delete', blog_path(blog.id), method: :delete %></td>
          </tr>
        </tbody>
    <% end %>
</table>