<div class="blog-index-main">
  <div class="blog-index-top">
    <% if current_user.admin? %>
      <%= link_to '新規投稿', new_blog_path, class: "btn btn-outline-danger mt-4" %>
    <% end %>
  </div>

  <table class="blog-table mt-5">
      <% @blogs.each do |blog| %>
          <tbody class="blog-table-body">
            <tr class="blog-table-content">
              <%# いいね機能 %>
              <td>
                <div id="blog-<%= blog.id %>" class="blog-like-btn">
                  <%= render 'blog_like', blog: blog %>
                </div>
              </td>
              <%# いいね機能 %>
              <td class="blog-index-img">
                <%= link_to blog_path(blog.id) do %>
                  <%= image_tag blog.image.variant(resize: '200x200') if blog.image.attached? %> 
                <% end %>
                <%# ブログの作成日が1週間以内であれば表示する %>
                <div class="caption"><span>NEW</span></div>
              </td>
              <td>
                <div class="blog-index-title"><%= blog.title %></div>
              </td>
              <td>
                <div class="blog-index-daytime"><%= blog.created_at.strftime("%Y/%m/%d") %></div>
              </td>
              <% if current_user.admin? %>
                <td><%= link_to '編集', edit_blog_path(blog.id), class: "btn btn-outline-danger" %></td>
                <td><%= link_to '削除', blog_path(blog.id), method: :delete, class: "btn btn-outline-danger" %></td>
              <% end %>
            </tr>
          </tbody>
      <% end %>
  </table>
</div>