<h1>詳細画面</h1>

<%= @blog.title %><br />
<%= @blog.text %><br />
<%= @blog.created_at %><br />


<div class="comment-show">
  <% if @comments %>
    <% @comments.each do |comment| %>
      <p>
        <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>:</strong>
        <%= comment.comment %>
      </p>
    <% end %>
  <% end %>
</div>

<div class="blog-comment">
  <%= form_with model: [@blog, @comment], remote: false do |f| %>
    <%= f.text_area :comment, placeholder: 'コメントをする' %>
    <%= f.submit '送信' %>
  <% end %>
</div>

<%= link_to '一覧へ戻る', blogs_path %>