<h1>詳細画面</h1>

<%= @blog.title %><br />
<%= @blog.text %><br />
<%= @blog.created_at %><br />

<%# 追加したコメント欄 %>
<div id="list">
</div>

<div id="blog-comments-area">
  <%# コメント欄 %>
  <%= render 'blog_comments/index', {comments: @comments} %>
</div>

<% if user_signed_in? %>
  <div id="blog-comment-create">
    <%# コメント入力欄 %>
    <%= render 'blog_comments/comment_form',{ comment: @comment, blog: @blog } %>
  </div>
<% end %>
<%= link_to '一覧へ戻る', blogs_path %>