<div class="drink-render-form">
  <%= form_with model: @drink, local: true do |f| %>
    <div class="form-content">
      <div class="field">
        <%= f.label :title, class: "field-label" %><br />
        <%= f.text_field :title, class: "title-field" %>
        <% if @drink.errors.include?(:title) %>
          <p style="color: red; margin: 0;">
            <%= @drink.errors.full_messages_for(:title).first %>
          </p>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :detail, class: "field-label" %><br />
        <%= f.text_area :detail, class: "detail-field" %>
        <% if @drink.errors.include?(:detail) %>
          <p style="color: red; margin: 0;">
            <%= @drink.errors.full_messages_for(:detail).first %>
          </p>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :price, class: "field-label" %><br />
        <span class="price-icon">¥</span><%= f.text_field :price, class: "price-field" %>
        <% if @drink.errors.include?(:price) %>
          <p style="color: red; margin: 0;">
            <%= @drink.errors.full_messages_for(:price).first %>
          </p>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :drink_category_id, class: "field-label" %><br />
        <%= f.collection_select :drink_category_id, DrinkCategory.all, :id, :name, {class: "food-category-select"} %>
        <% if @drink.errors.include?(:drink_category_id) %>
          <p style="color: red; margin: 0;">
            <%= @drink.errors.full_messages_for(:drink_category_id).first %>
          </p>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :image, class: "field-label" %><br />
        <%= f.file_field :image %>
        <% if @drink.errors.include?(:image) %>
          <p style="color: red; margin: 0;">
            <%= @drink.errors.full_messages_for(:image).first %>
          </p>
        <% end %>
      </div>

      <%# プレビュー画像の表示 %>
      <div id="drink-image-list"></div>
      <%# 編集画面はこちらに表示 %>
      <%= image_tag @drink.image, id: 'image' if @drink.image.present? %>

      <div class="submit">
        <%= link_to '戻る', drinks_path, class: "btn btn-outline-primary mt-3 mr-3" %>
        <%= f.submit '投稿する', class: "btn btn-outline-primary mt-3" %>
      </div>
    </div>
  <% end %>
</div>