<h1>ドリンクメニュー</h1>

<%# 検索ボタン %>
<div id="search-area">
  <%= render 'drinks/radio_button' %>
</div>

<% @drinks.each do |drink| %>
  <%= drink.title %>
  <%# いいね機能 %>
  <div id="drink-<%= drink.id %>"> 
    <%= render 'drink_like', drink: drink %>
  </div>
  <%# いいね機能 %>
  <%= drink.price %>
  <%= link_to drink_path(drink.id) do %>
    <%= image_tag drink.image.variant(resize: '400x400') %>
  <% end %>
<% end %>

<% if current_user.admin? %>
  <%= link_to '新規投稿', new_drink_path %>
<% end %>