<div class="index-content-main">
  <div class="index-content-top">
    <h1 class="drink-search-title">ドリンクメニュー</h1>
  </div>

    <%# 検索ボタン %>
    <div class="search-btn">
      <%= render 'drinks/radio_button' %>
    </div>

    <%# 検索結果の一覧 %>
    <div class="index-content-form">
      <% if @results.length != 0 %>
        <% @results.each do |result| %>
          <div class="index-content">

            <%= link_to drink_path(result.id) do %>
              <div class="index-content-image">
                <%= image_tag result.image.variant(resize: '400x400') %><br />
              </div>
            <% end %>

            <%#= いいね機能 %>
            <div id="drink-<%= result.id %>" class="content-like-btn"> 
              <%= render 'drink_like', drink: result %>
            </div>

            <div class="index-content-title">
            <%= result.title %>
            </div>

            <div class="index-content-price">
              ¥<%= result.price %>
            </div>

            <div class="index-content-category">
              <%= result.drink_category.name %>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="non-result-research">
          <h3><i class="fas fa-times-circle mr-2"></i>該当する商品がありませんでした<i class="fas fa-times-circle ml-2"></i></h3>
        </div>
      <% end %>
    </div>
</div>