<h1>検索結果</h1>

<%# 検索ボタン %>
<%= render 'drinks/radio_button' %>

<%# 検索結果の一覧 %>
<% if @results.length != 0 %>
  <% @results.each do |result| %>
    <%= result.title %>
    <%= result.detail %>
    <%= result.price %>
    <%= result.drink_category.name %>
    <%= image_tag result.image.variant(resize: '400x400') %><br />
  <% end %>
<% else %>
  該当するものがありません
<% end %>