<h1>詳細画面</h1>

<%= @drink.title %><br />
<%= @drink.detail %><br />
<%= @drink.price %><br />
<%= image_tag @drink.image.variant(resize: '400x400') %><br />

<div id="drink-comments-area">
  <%= render 'drink_comments/index', { comments: @comments } %>
</div>

<% if user_signed_in? %>
  <div id="drink-comment-create">
    <%= render 'drink_comments/comment_form', { comment: @comment, drink: @drink } %>
  </div>
<% end %>

<%= link_to '編集', edit_drink_path(params[:id]) %>
<%= link_to '削除', drink_path(params[:id]), method: :delete %>