<h1><%= @user.nickname %>さんの予約履歴</h1>
<table>
  <tr>
    <th>日付</th>
    <th>時間</th>
    <th>人数</th>
    <th>予約のコース</th>
  </tr>
  <% @books.each do |book| %>
    <tr>
      <th><%= book.reserve_date.strftime('%m/%d') %></th>
      <th><%= book.reserve_time.strftime('%-H:%M') %> </th>
      <th><%= book.number_reserve %>名</th>
      <th><%= book.reserve_category.name %></th>
      <th>
        <% if book.reserve_date > @today %>
          <%= link_to '予約を変更する', edit_book_path(book.id) %>
          <%= link_to '予約をキャンセルする', book_path(book.id), method: :DELETE %>
        <% end %>
      </th>
    </tr>
  <% end %>
</table>