<div class="top-main">
  <div class="main-content">
    <div class="card booking-card">
      <%= link_to new_book_path, class: "card-item new-book-grid" do %>
        <div class="card-text"><i class="far fa-check-circle"></i>  ご予約はこちらから <i class="far fa-check-circle"></i></div>
      <% end %>
    </div>
    <div class="grid">
      <div class="card book-card">
        <% if current_user.admin? %>
          <%= link_to book_admin_books_path(current_user.id), class: "card-item" do %>
            <div class="card-title">予約表</div>
          <% end %>
        <% else %>
          <%= link_to user_path(current_user.id), class: "card-item" do %>
            <div class="card-title">予約履歴</div>
          <% end %>
        <% end %>
      </div>
      <div class="card drink-card">
        <%= link_to drinks_path, class: "card-item" do %>
          <div class="card-title">ドリンクメニュー</div>
        <% end %>
      </div>
      <div class="card food-card">
        <%= link_to foods_path, class: "card-item" do %>
          <div class="card-title">お料理</div>
        <% end %>
      </div>
    </div>
    <div class="grid">
      <div class="card visual-card">
        <%= link_to visuals_path, class: "card-item" do %>
          <div class="card-title">外観/内装</div>
        <% end %>
      </div>
      <div class="card blog-card">
        <%= link_to blogs_path, class: "card-item" do %>
          <div class="card-title">ブログ</div>
        <% end %>
      </div>
      <div class="card chat-card">
        <%= link_to messages_path, class: "card-item" do %>
          <div class="card-title">ご意見/ご要望</div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%#= link_to 'チャットルーム作成', new_room_path %>
