<div class="food-render-form">
  <%= form_with model: @food, local: true do |f| %>
    <div class="form-content">
      <div class="field">
        <%= f.label :title, class: "field-label" %><br/>
        <%= f.text_field :title, class: "title-field" %>
        <% if @food.errors.include?(:title) %>
          <p style="color: red; margin: 0;">
            <%= @food.errors.full_messages_for(:title).first %>
          </p>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :detail, class: "field-label" %><br />
        <%= f.text_area :detail, class: "detail-field" %>
        <% if @food.errors.include?(:detail) %>
          <p style="color: red; margin: 0;">
            <%= @food.errors.full_messages_for(:detail).first %>
          </p>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :price, class: "field-label" %><br />
        <span class="price-icon">¥</span><%= f.text_field :price, class: "price-field" %>
        <% if @food.errors.include?(:price) %>
          <p style="color: red; margin: 0;">
            <%= @food.errors.full_messages_for(:price).first %>
          </p>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :food_category_id, class: "field-label" %><br />
        <%= f.collection_select :food_category_id, FoodCategory.all, :id, :name, {class: "food-category-select"} %>
        <% if @food.errors.include?(:food_category_id) %>
          <p style="color: red; margin: 0;">
            <%= @food.errors.full_messages_for(:food_category_id).first %>
          </p>
        <% end %>
      </div>

      <div class="field">
        <p class="check-box-content"><%= f.check_box :free_food, {class: "mr-2"} %>食べ放題を許可する</p>
      </div>

      <div class="field">
        <%= f.label :image, class: "field-label" %><br />
        <%= f.file_field :image %>
        <% if @food.errors.include?(:image) %>
          <p style="color: red; margin: 0;">
            <%= @food.errors.full_messages_for(:image).first %>
          </p>
        <% end %>
      </div>

      <%# プレビュー画像の表示 %>
      <div id='food-image-list'></div>
      <%# 編集画面はこちらに表示 %>
      <%= image_tag @food.image, id: 'image' if @food.image.present? %>

      <div class="submit">
        <%= link_to '戻る', foods_path, class: "btn btn-outline-primary mt-3 mr-3" %>
        <%= f.submit '投稿する', class: "btn btn-outline-primary mt-3", data: {
          confirm: "この内容で投稿してもよろしいでしょうか？",
          cancel: "やめる",
          commit: "キャンセルする"
        }, title: "投稿確認" %>
      </div>
    </div>
  <% end %>

</div>