<div class="index-content-main">
  <div class="index-content-top">
    <h1 class="index-content-main-title">フードメニュー</h1>
    <div class="index-content-new">
      <% if current_user.admin? %>
        <%= link_to '新規作成', new_food_path, class: "btn btn-outline-danger" %>
      <% end %>
    </div>
  </div>

  <%# 検索ボタン %>
  <div id="search-area" class="search-btn">
    <%= render 'foods/radio_button' %>
  </div>

  <%# 投稿一覧 %>
  <div class="index-content-form">
    <% @foods.each do |food| %>
      <div class="index-content">
        <div class="index-content-image">
          <%= link_to food_path(food.id) do %>
            <%= image_tag food.image.variant(resize: '400x400') %>
          <% end %>
        </div>

        <%# いいね機能 %>
        <div id="food-<%= food.id %>" class="content-like-btn"> 
          <%= render 'food_like', food: food %>
        </div>
        <%# いいね機能 %>

        <div class="index-content-title">
          <%= food.title %>
        </div>

        <div class="index-content-price">
          ¥<%= food.price %>
        </div>

        <div class="index-content-category">
          <%= food.food_category.name %>
        </div>
      </div>
    <% end %>
  </div>
</div>