<div class="index-content-main">
  <div class="index-content-top">
    <h1 class="search-title">フードメニュー</h1>
  </div>

  <%# 検索ボタン %>
  <div class="search-btn">
    <%= render 'foods/radio_button' %>
  </div>

  <%# 検索セレクトボックス %>
  <div class="select-search">
    <%= render 'foods/select_box' %>
  </div>

  <%# 検索結果の一覧表示 %>
  <div class="index-content-form">
    <% if @results.length != 0 %>
      <% @results.each do |result| %>
        <div class="index-content">
          

          <div class="index-content-image">
            <%= link_to food_path(result.id) do %>
              <%= image_tag result.image.variant(resize: '400x400') %>
            <% end %>
            <%# 食べ放題が許可されているメニューにラベル %>
            <% if result.free_food == true %>
              <div class="caption"><span>食べ放題</span></div>
            <% end %>
          </div>

          <%#= いいね機能 %>   
          <div id="food-<%= result.id %>" class="content-like-btn"> 
            <%= render 'food_like', food: result %>
          </div>
          
          <div class="index-content-title">
            <%= result.title %>
          </div>

          <div class="index-content-price">
            ¥<%= result.price %>
          </div>

          <div class="index-content-category">
            <%= result.food_category.name %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="non-result-research">
        <h3><i class="fas fa-times-circle mr-2"></i>該当する商品がありませんでした<i class="fas fa-times-circle ml-2"></i></h3>
      </div>
    <% end %>
  </div>
</div>