<div class="show-content-main">
  <div class="show-content">

    <div class="show-content-image">
      <%= image_tag @food.image.variant(resize: '400x400') %><br />
    </div>

    <div class="show-content-title">
      <%= @food.title %>
    </div>

    <div class="show-content-detail">
      <%= @food.detail %><br />
    </div>

    <div class="show-content-price">
      ¥<%= @food.price %><br />
    </div>

    <div class="show-content-category">
      <%= @food.food_category.name %>
    </div>

  </div>

  <div id="food-comments-area">
    <%= render 'food_comments/index', { comments: @comments } %>
  </div>

  <% if user_signed_in? %>
    <div id="food-comment-create">
      <%= render 'food_comments/comment_form', { comment: @comment, food: @food } %>
    </div>
  <% end %>

  <% if current_user.admin? %>
    <%= link_to '編集', edit_food_path(params[:id]) %>
    <%= link_to '削除', food_path(params[:id]), method: :delete %>
  <% end %>
</div>