<h1>詳細ページ</h1>

<%= @food.title %><br />
<%= @food.detail %><br />
<%= @food.price %><br />
<%= image_tag @food.image.variant(resize: '400x400') %><br />

<div id="food-comments-area">
  <%= render 'food_comments/index', { comments: @comments } %>
</div>

<% if user_signed_in? %>
  <div id="food-comment-create">
    <%= render 'food_comments/comment_form', { comment: @comment, food: @food } %>
  </div>
<% end %>

<%= link_to '編集', edit_food_path(params[:id]) %>
<%= link_to '削除', food_path(params[:id]), method: :delete %>