<h1>詳細ページ</h1>

<%= @food.title %><br />
<%= @food.detail %><br />
<%= @food.price %><br />
<%= image_tag @food.image.variant(resize: '400x400') %><br />

<div class="food-comment">
  <%= form_with model: [@food, @comment], local: true do |f| %>
    <%= f.text_area :comment, placeholder: 'コメントする' %>
    <%= f.submit '送信' %>
  <% end %>
</div>

<div class="comment-show">
  <% if @comments %>
    <% @comments.each do |comment| %>
      <p>
        <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>:</strong>
        <%= comment.comment %>
      </p>
    <% end %>
  <% end %>
</div>

<%= link_to '編集', edit_food_path(params[:id]) %>
<%= link_to '削除', food_path(params[:id]), method: :delete %>