<!DOCTYPE html>
<html>
  <head>
    <title>IzakayaApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" > 
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Noto+Serif+JP:wght@900&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <nav class="header-nav fixed-top">
        <div class="header-left">
          <a href="/">
            <%= image_tag "logo.png", class: "logo" %>
          </a>
        </div>
        <div class="header-right">
          <ul class="header-right-nav">
            <% if current_user %>
              <%# ログインユーザー %>
              <li class="dropdown d-flex align-items-center"><%= link_to current_user.nickname, edit_user_registration_path, class: "nickname-btn" %></li>
              <li class="d-flex align-items-center"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout-btn header-item btn btn-outline-warning btn-sm" %></li>
            <% else %>
              <%# 未ログインユーザー %>
              <li class="nav-item d-flex align-items-center"><%= link_to '新規登録', new_user_registration_path, class: "header-item btn btn-outline-warning btn-md" %></li>
              <li class="nav-item d-flex align-items-center"><%= link_to 'ログイン', new_user_session_path, class: "header-item btn btn-outline-warning btn-md" %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
